.container {
  padding: 50px;
}

.card {
  margin: 10px;
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;

}

.h2Prensa {
  padding: 50px;
  margin-bottom: 20px;
  color: #4FA7C1;
  font-family: 'Trashhand';
  font-size: 2.8em;
  font-weight: bold;

}

@media (max-width: 768px) {
  .card {
    grid-template-columns: 100%;
    padding: 0px;
    margin: 0px;
    margin-left: 40px;

  }
}

@media (max-width: 834px) {
  .card {
    grid-template-columns: 100%;
    padding: 0px;
    margin: 0px;
    margin-left: 40px;

  }
}

@media (max-width: 428px) {
  .card {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .h2Prensa {
    margin: 0;
    margin-top: 30px;
    font-size: 2.8em;
    padding: 20px;
  }

  .container {
    width: 100%;
  }
}